<div id="editor" class="container-fluid">
  <div class="meta">
    <%= form_for @deck, html: { class: "form-inline" } do |f| %>
      <div class="form-group">
        <%= f.label :name, class: "sr-only" %>
        <%= f.text_field :name, class: "form-control", placeholder: "Deck name" %>
      </div>
      <button type="button" class="btn btn-primary">Save</button>
    <% end %>
  </div>
  <div class="row">
    <div class="search-panel col-md-4">
      <input id="search-field" class="form-control" placeholder="Search" autocomplete="off">
      <div id="search-listview" class="listview" tabindex="1">
        <ul>
        </ul>
      </div>
    </div>
    <div class="card-panel col-md-4">
      <div id="card-image">
        <img src="">
      </div>
      <div id="card-text">
        <textarea class="form-control">
        </textarea>
      </div>
      <div class="button-list">
        <a class="add-main" href="#">Add to main</a>
        <a class="add-side" href="#">Add to sideboard</a>
        <a class="remove" href="#">Remove</a>
        <a class="increment" href="#">Increment</a>
        <a class="decrement" href="#">Decrement</a>
      </div>
    </div>
    <div class="deck-panel col-md-4">
      <div id="deck-listview" class="listview" tabindex="2">
        <ul>
        </ul>
      </div>
    </div>
  </div>
</div>
